@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;800&display=swap');
:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: rgb(82, 255, 168);
    --gray-blue: hsl(217, 19%, 38%);
    --dark-gray-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    background: none;
}

body {
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
    background: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.attribution {
    position: absolute;
    bottom: 10px;
    color: white;
}

.content-base {
    background: var(--dark-gray-blue);
    padding: 2.2rem;
    border-radius: 1.5rem;
    position: relative;
    box-shadow: 0px 0px 52px -17px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 0px 0px 52px -17px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 0px 0px 52px -17px rgba(0, 0, 0, 0.76);
    width: min(90%, 35rem);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

.content__id {
    color: hsl(150, 100%, 66%);
    font-size: .4em;
    letter-spacing: .3em;
}

.content__desc {
    font-weight: 800;
    color: var(--light-cyan);
    text-align: center;
}

.content__barre {
    margin-bottom: .5rem;
}

.content__rdm {
    position: absolute;
    bottom: -22.5px;
}

.content__rdm img {
    width: 60%;
}

.content__rdm button {
    background: var(--neon-green);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.content__rdm button:hover {
    -webkit-box-shadow: 0px 0px 15px 8px rgba(82, 255, 168, 0.43);
    box-shadow: 0px 0px 15px 8px rgba(82, 255, 168, 0.43);
}

.img_mob {
    display: none;
}

@media screen and (max-width: 565px) {
    .content__barre .img_mob {
        display: block;
    }
    .content__barre .img_desk {
        display: none;
    }
}